.menu-lateral__link {
    align-items: center;
    color: #95999C;
    display: flex;
    height: 64px;
    padding-left: 64px;
}

.menu-lateral__link--ativo {
    color: #FFFFFF;
    border-left: 8px solid #FFFFFF;
    padding-left: 56px;
}

.menu-lateral__link::before {
    content: "";
    font-size: 24px;
    height: 24px;
    left: 24px;
    position: absolute;
    width: 24px;
}

.menu-lateral__link--inicio::before {
    content: "\e902";
}

.menu-lateral__link--videos::before {
    content: "\e90e";
}

.menu-lateral__link--picos::before {
    content: "\e909";
}

.menu-lateral__link--integrantes::before {
    content: "\e903";
}

.menu-lateral__link--camisas::before {
    content: "\e900";
}

.menu-lateral__link--pinturas::before {
    content: "\e90a";
}