.card__info {
    display: flex;
    align-items: center;
    color: #95999C;
}

.card__info--tempo::before {
    content: "\e90c";
    margin-right: 8px;    
}

.card__info--visualizacao::before {
    content: "\e90f";
    margin-right: 8px;    
}
