.card__item {
    display: grid;
    gap: 8px;
    grid-template-columns: auto 1fr;
}

.card__item-thumbnail {
    grid-row: span 2;
    width: 32px;
}

.card__item-titulo {
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 1.2rem;
}

.card__item-perfil {
    color: #95999C;
    font-size: 0.8rem;
}